<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
</head>
<body>
    <%- include('./header.ejs') %>
        <form method="post">
            <fieldset class="grupo">
                <div class="componentes">
                    <label>Nome:</label>
                    <input type="text" name="nome" >
                </div>
                <div class="componentes">
                    <label>Email:</label>
                    <input type="email" name="email">
                </div>
                <div class="componentes">
                    <label>CPF:</label>
                    <input type="number" name="CPF" >
                </div>
                <div class="componentes">
                    <label>celular:</label>
                    <input type="number" name=celular" >
                </div>
                <div class="componentes">
                    <label>Cidade:</label>
                    <input type="text" name="Cidade" >
                </div>
                <div class="componentes">
                    <label>Senha:</label>
                    <input type="password" name="password" >
                </div>
                
            </fieldset>
            <fieldset class="grupo">
                <div class="componentes-2">
                    <label>Qual dessas aplicações você desenvolve:</label>
                    <label>
                        <input type="radio" name="devWeb" value="front-end">
                        front-end
                    </label>
                    <label>
                        <input type="radio" name="devWeb" value="back-end">
                        back-end
                    </label>
                    <label>
                        <input type="radio" name="devWeb" value="full-stack">
                        full-stack
                    </label>
                    <div>
            </fieldset>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="senioridade"><strong>senioridade</strong></label>
                    <select id="senioridade">
                        <option value="selected disable value">selecione</option>
                        <option>junior</option>
                        <option>plêno</option>
                        <option>sênior</option>
                    </select>
                </div>
                
            </fieldset>
            <fieldset class="grupo">
                <div>
                    <label>Qual dessas linguagens você tem interesse:</label>
                    <input type="checkbox" name="devWeb" value="pyton">
                    pyton
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="php">
                        php
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="java">
                        java
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="java script">
                        java script
                    </label>
                </div>
            </fieldset>

            <div class="grupo">
                <br>
                <label class="experiencia">conte um pouco da sua experiência:</label>
                <textarea row="6" id="experiencia" name="experiencia"></textarea>
            </div>
            <div class="botao-ipt">
                <input class="botao" type="submit" value="concluir">
            </div>
            
        </form>
        
    <%- include('rodape') %>
</body>
</htmml>