<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
    
</head>
<body>
    <%- include('./header.ejs') %>
        <form method="post">
            <fieldset class="grupo"> 
                <input class="inpt" type="text" placeholder="nome" name="nome">
                <input class="inpt" type="text" placeholder="email" name="email">
                <input class="inpt" type="number" placeholder="cpf" name="cpf">
                <input class="inpt" type="number" placeholder="celular" name="celular">
                <input class="inpt" type="password" placeholder="senha" name="senha">
            </fieldset>
                
            <fieldset class="grupo">
                <div class="componentes-2">
                    <label>Qual dessas aplicações você desenvolve:</label>
                    <label>
                        <input type="radio" name="devWeb" value="front-end" name="front-end">
                        front-end
                    </label>
                    <label>
                        <input type="radio" name="devWeb" value="back-end" name="back-end">
                        back-end
                    </label>
                    <label>
                        <input type="radio" name="devWeb" value="full-stack" name="full-stack">
                        full-stack
                    </label>
                    <div>
            </fieldset>
                
            </fieldset>
            <fieldset class="grupo">
                <div>
                    <label>Qual dessas linguagens você tem interesse:</label>
                    <input type="checkbox" name="devWeb" value="pyton" name="pyton">
                    pyton
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="php" name="php">
                        php
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="java" name="java">
                        java
                    </label>
                    <label>
                        <input type="checkbox" name="devWeb" value="java script" name="java script">
                        java script
                    </label>
                </div>
            </fieldset>

            <div class="grupo">
                <br>
                <label class="experiencia">conte um pouco da sua experiência:</label>
                <textarea row="6" id="experiencia" name="experiencia"></textarea>
            </div>
            <div class="botao-ipt">
                <input class="botao" type="submit" value="concluir">
            </div>
            
        </form>
        
        <form action="/lista" method="post">
            <input type="submit" value="ver lista">
        </form>
    <%- include('rodape') %>
</body>
</htmml>